<!-- include header -->
<%- include('includes/_header')%>
<!-- include header -->

<!-- Main site -->
<div id="site-main" class="table_container">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/"><i class="fas fa-angle-double-left"></i> all users</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">New Users</h2>
      <span class="text-light">Use the below form to create a new account</span>
    </div>
    <%- include('includes/_form')%>
    
  </div>
</div>
<!-- Main site -->

<!-- include footer -->
<%- include('includes/_footer')%>
<!-- include footer -->
